.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin: 40px 0;
}

form {
  min-height: 50px;
  /* min-width: 400px; */
  display: flex;
  flex-direction: row;
}

.input-field * {
  /* background-color: aqua; */
  margin-left: 2px;
  margin-right: 2px;
}

input {
  min-height: 40px;
  min-width: 300px;
  width: 100%;
  font-size: large;
  background-color: #9ca4b6;
  outline: 0;
  padding: 0 5px;
  /* border: none; */
  /* border-radius: 10px; */
}

input:focus {
  outline: 0;
}

.note-edit input {
  width: 100%;
}

button {
  /* margin: 10px auto; */
  padding: 10px;
  background-color: #454d5ea3;
  /* height: 100%; */
  /* border: 2px solid rgba(13, 174, 177, 0.406); */
  cursor: pointer;
  /* border-radius: 10px; */
  min-width: 70px;
  /* transition: all ease 1s; */
}

button:hover {
  /* outline: 0; */
  /* font-weight: 700; */
}

button:focus {
  outline: 0;
}

.delete-btn {
  background-color: red;
}

.notes-holder {
  border: 1px solid white;
  width: 700px;
  min-height: 500px;
  margin: 10px;
}

.note-holder {
  /* width: 90%; */
  min-height: 64px;
  margin: 0 auto;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: row;
}

.note-holder:nth-child(1) {
  border: none;
}

.note-input-field {
  width: 100%;
}

.note {
  text-align: left;
  width: 100%;
  padding: 0 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.input-alert,
.input-alert-spaceholder {
  color: red;
  height: 30px;
  width: 400px;
  font-size: large;
  text-align: left;
  padding: 15px 5px;
}

.empty-notes {
  padding: 15px 0 ;
  color: grey;
}

.delete-all {
  margin: 0 0 30px 0;
  color: #d0d0d0;
}

.plus-button {
  font-size: x-large;
}

/* ====================== OTHER ====================== */

.box {
  border: 1px solid red;
}

/* ====================== TABLET ====================== */

@media (max-width: 800px) {
  .notes-holder {
    min-width: 525px;
    width: 80%;
    /* min-height: 500px; */
  }
}

/* ====================== MOBILE ====================== */

@media (max-width: 600px) {
  .notes-holder {
    min-width: 300px;
    width: 90%;
    /* margin: 10px 10px 50px 10px; */
  }

  

  form {
    min-height: 50px;
    min-width: 100px;
    display: flex;
    flex-direction: row;
  }

  input {
    min-width: 100px;
  }

  .input-alert,
  .input-alert-spaceholder {
    width: 300px;
  }

 
}
